<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Brainstorm your next big idea!</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Let the brainstorming begin</a>
</div>